body{
    overflow: hidden;  
    height: 100vh;
}

.container{
    background: #2020209e;
    position:relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 70px;
    height: 450px;
    width: 170%;
    justify-self: center;
}
.container_ssb{
   
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    gap: 15%;

}
.container_ssb p{
   width: 80%;
   font-size: 30px;
   text-align: center;


}

.text1{
    font-family: 'Inter', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    font-weight: semi bold;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.inputs label{
    color:#ff4343 ;
    align-self: flex-start;
    font-size: 0.75em;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.name_pass{
    font-size: 15px;
    width: 300px;
    height: 20px;
    background: transparent;
    outline: none;
    border: none;
    padding:7px 10PX ;
    color: #AEAEAE;    
}

.name_pass:focus {
   background-color: #202020c8;
   border-radius:10px 10px 0px 0px;

  }
.name_pass:hover {
    background-color: #202020c8;
    border-radius:10px 10px 0px 0px;
 
   }
.underline{
    width:103%;
    height: 2px;
    background-color:#DFDBDB;
    border-radius:5px; 
}
.underline.faux{
  animation: shake 0.3s ease;
  background-color:#ff2f2f;
}
.passforgot{
    display: flex;
    align-items: center;
    position: relative;
    right:95px;
    
}

#logo_nat2{
   position:absolute;
    left: 1%;
    top: 5%;

}
.loginbtn{
    font-size: 20px;
    color:#AEAEAE ;
    width: 250px;
    padding: 0.4em;
    background-color:#592C7F;
    border: none;
    border-radius:20px; 
    transition: ease 0.3s;
}
.loginbtn:hover{
 transform: scale(1.05);
}
.loginbtn:active{
    background-color:#492368;
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}