body {
  overflow-y: auto;
}
.ecran {
  width: 95vw;
  position: relative;
  left: -2%;
}
.navigation {
    position: sticky;
    top: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
    transition: background-color 0.3s ease;
}
.logo.scrolled{
 display: none;  
  
}
.parametre.scrolled{
 display: none;  
  
}
.middlebtn.scrolled  {
  background-color: #1d1d1d;
  position: relative;

}

.middlebtn {
   border-radius:38px ; 
  display: flex;
  position: absolute;
  gap: 15px;
  left: 350px;
  align-self: center;
}
.parametre {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.text {
  z-index: -1;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 5rem;
  margin-bottom: 90px;
}

.maincontainer {
  padding: 2rem;
  background-color: #20202073;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.haut_page {
  
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  

 
}
.modif_rech{
  display: flex;
 
  justify-content: flex-end;
  gap: 30px;
  height: 50px;
  width: 50%;
  
}
.modif_rech button{
  width: 30%;
  border-radius: 34px;
  border: none;
  background: linear-gradient(180deg,#3c2154,#613982);
  font-size: 18px ;
  color: #AEAEAE;
}
.modif_rech button:hover{
  transform: scale(1.03);
}
.modif_rech button:active{
  transform: scale(1);
}
.modif_rech input{
    width: 50%;
    padding: 15px;
    font-size: 18px ;
    margin: 5px 0px;
    outline: none;
    border: none;
    color: rgb(15, 15, 15);
    background: #aeaeae;
    border-radius: 20px;
  
}
.table{
    width: 95%;
    background: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 40px;
    
}